.navbar {
    display: flex;
    justify-content: center;
    .container {
        display: flex;
        justify-content: space-between;
        width: 1400px;
        background-color: aquamarine;

    .logo {

        .text{

        }
        .dot{

        }
    }
    .links{
         span{

         }
    }
    }
}